.scroll {
    overflow-y: auto;
    height: 60vh;
}

.disable-scrollbars::-webkit-scrollbar {
    background: transparent;
    /* Chrome/Safari/Webkit */
    width: 0px;
}

.disable-scrollbars {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

.timeline {

    border-left: 3px solid rgb(0, 0, 0);
    position: relative;
    list-style: none;
}

.timeline .timeline-item {
    position: relative;
}

.timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .timeline-item:after {
    background-color: rgb(0, 0, 0);
    left: -40px;
    top: 60px;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
}