*{
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0px;
    padding: 0px;

    background-image: url(/images/background/aldi-sigun-K-sdQ12jZeY-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.loginform{
    background-color: #8cb0ddc4;
    width: 30%;
    height: auto;
    margin: 7% auto;
    padding: 25px 10px;
    border-radius: 10px;
}