.nav-link {
    font-size: 20px;
}

a {
    text-decoration: none !important;
}

.shadow {

    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px !important;
}

.title {
    letter-spacing: -1.2pt;
}

.bg-secondary2 {
    --bs-bg-opacity: 1;
    background-color: #A4C3FF !important
}

.text-bg-tersier {
    color: #424E66 !important;
    background-color: #DBE7FF !important
}

/* Menu Fitur */
.text-menu-fitur {
    font-size: 16px;
    color: black;
}

/* Article */
.hover-article:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: #fefefe;

    .hover-img-article {}
}